@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'MSSansSerif';
    src: local('MSSansSerif'), url(./fonts/MS-Sans-Serif.ttf) format('truetype');
}

body {
    /* font-family: 'Exo', sans-serif; */
      background: #50868d;  
      // background-image: url("./images/myThings.png");
    //   font-family: MSSansSerif;
    //   background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
      width: 100%;
      height: 87vh;
  
      a {
        color: white;
    }
    
    a:hover {
        background-color: #4d4d4d;
    }
  
  @keyframes animate {
  
  }
}

.nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: transparent;
  color: rgb(0, 0, 0);
  // box-shadow: 1em 2em 4em rgb(59, 59, 59);
}

.nav-item {
    font-family: MSSansSerif;
    font-size: .8em;
  margin: .8em;
  padding: .2em;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.nav-item:hover {
    // color: #2e2e2e;
    background-color: #1fc8db;
    // margin: 1em;
    cursor: pointer;
}

.nav-item::selected {
  text-decoration: underline;
}

.dropdown {
  z-index: 4;
}

.drop-item {
  z-index: 4;
  height: "10%";
}

.context {
    width: 100%;
    position: absolute;
    top:50vh;
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}

.modal {
    font-family: MSSansSerif;
}